@import '../../styles/shared.scss';

.fc-daygrid-event {
    background-color: transparent;
    border: none;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.fc .fc-daygrid-day-events {
    margin-top: 30px;
}