@import '../styles/shared.scss';

html {
    background: $color-light-gray;
    color: #363636;
    height: 100%;
}

body, #root, .app {
    height: 100%;
}

a {
    color: $color-green-6;
    font-weight: bold;
    text-decoration: none!important;
}

input[type="date"] {
    cursor: pointer;
}

body {
    // Remove blue outline when selecting column headers and table cells
    .MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within, .MuiDataGrid-root .MuiDataGrid-cell:focus-within {
        outline: none;
    }

    .MuiCheckbox-colorPrimary.Mui-checked {
        color: $color-green-4;
    }

    .MuiDataGrid-root .MuiDataGrid-row.Mui-selected, .MuiDataGrid-root .MuiDataGrid-row.Mui-selected:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

.red {
    color: #e85a4f;
}

.green {
    color: #6cc75c;
}

h1.title {
    font-size:18px;
    color: $color-green-6;
    display: inline;
    margin: 0;
}

.app {
    display: flex;
}

/** NAVBAR **/

$navbarWidth: 48px;

.navbar {
    background-color: $color-green-4;
    height: 100%;
    position: fixed;
    align-content: space-between;
    display: flex;
    flex-flow: row wrap;
    width: $navbarWidth;    

    .MuiSvgIcon-root {
        width: 40px;
        fill: #fff;
        font-size: 26px;
        padding: 10px 4px;
        cursor: pointer;

        &:hover {
            fill: $color-green-7;
        }
    }

    .nav {
        margin-top: 45px;
    }

    .nav-account {
        margin-bottom: 10px;
    }

    .active {
        background-color: $color-green-6;
    }
}

.nav-account-menu {
    margin-left: 32px;

    .MuiMenu-paper {
        border-radius: 0;
        box-shadow: none;
        background-color: #24caae;
        color: #fff;
    }

    li.MuiListItem-root {
        padding-top: 0;
        padding-bottom: 0;
        & + li.MuiListItem-root {
            margin-top: 6px;
        }
    }
}

// necessary because the navbar is fixed.
.main-content.MuiContainer-root {
    margin-left: $navbarWidth;
}

.username {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-top: -1px;
    color: $color-green-5;
}


/** BUTTONS **/

button {
    border: none!important;
}

.button, .paper .fc .fc-button-primary, .paper .fc .fc-button-primary:disabled {
    padding: 12px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    background-color: $color-green-4;
    border-radius: 2px;

    &.small {
        padding: 6px 12px;
    }

    &.full {
        width: 100%;
    }

    &:hover, &:active {
        cursor: pointer;
        background-color: $color-green-6;
    }

    &.light {
        background-color: $color-green-7;
        color: $color-green-2;
        &:hover {
            background-color: $color-green-8;
        }
    }

    &.dark {
        background-color: $color-green-4;
        color: $color-green;
        &:hover {
            color: $color-green-6;
        }
    }

    &.outlined-light {
        background-color: $color-green;
        border-color: $color-green;
        border: 1px solid $color-green-3!important;
        color: $color-green-5;
        &:hover {
            color: $color-red-light;
            border-color: $color-red-light!important;
        }
    }
}

.fc .fc-button-primary, .fc .fc-button-primary:disabled {
    opacity: 1!important;
}

.paper .fc .fc-button-primary:focus {
    box-shadow: none!important;
}

.paper .fc .fc-today-button:active {
    background-color: $color-green-6!important;
}

.paper .fc .fc-button-primary.fc-prev-button, .paper .fc .fc-button-primary.fc-next-button {
    background-color: inherit;

    .fc-icon {
        color: $color-green-7;
    }

    &:focus {
        box-shadow: none!important;
    }

    &:active {
        background-color: #fff!important;
    }
}

/** DIALOGS **/

.MuiDialog-container {
    .MuiDialogTitle-root {
        color: $color-red-light;
    }

    .MuiDialog-paper {
        background-color: $color-green;
        box-shadow: none;
        border-radius: 0;
        transition: none;
    }

    .MuiDialogActions-root {
        padding: 24px;
    }
}

/** Forms **/

// Remove the blue background from chrome when auto-filling
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.MuiInput-underline:before, 
.MuiInput-underline:after {
    border-bottom: 1px solid $color-green-7!important;
}

.MuiFormLabel-root.Mui-focused {
    color: $color-green-7!important;
    font-weight: bold!important;
}

.MuiDialog-paperWidthSm {
    max-width: 810px!important;
}

input[type="date"] {
    width: 140px;
}

.MuiTextField-root.hide-label  {
    .MuiInputBase-formControl {
        margin-top: 0;
    }

    label {
        display: none;
    }
}

/* Snackbar */

.MuiCollapse-root.MuiCollapse-entered {
    margin-bottom: 10px;
}

.MuiCollapse-wrapper {
    .snackbar {
        box-shadow: none;
        font-weight: bold;
        border-radius: 0;
        min-width: 0;
    }

    .snackbar-success {
        background-color: $color-green-4;
    }

    .snackbar-error {
        background-color: $color-red;
    }
}

.MuiDataGrid-columnHeader  .MuiDataGrid-columnHeaderTitle {
    font-size: 12px!important;
}

// Content rectangles.
.MuiPaper-root.paper {
    margin-top: 15px;
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: none!important;
}

.center-content-vertically {
    display: flex;
    align-items: center;
    height: 100%;
}


/** Misc **/
.date-arrow {
    color: $color-green-7;
    font-size: 20px;
    margin: 4px 8px;
}