@import '../styles/shared.scss';

html {
    background: #f5f7fb;
    color: $color-black;
    height: 100%;
}

body, #root, .app {
    height: 100%;
}

a {
    color: $color-green-6;
    font-weight: bold;
    text-decoration: none!important;
}

input[type="date"] {
    cursor: pointer;
}

body {
    // Remove blue outline when selecting column headers and table cells
    .MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within, .MuiDataGrid-root .MuiDataGrid-cell:focus-within {
        outline: none;
    }

    .MuiCheckbox-colorPrimary.Mui-checked {
        color: $color-green-4;
    }

    .MuiDataGrid-root .MuiDataGrid-row.Mui-selected, .MuiDataGrid-root .MuiDataGrid-row.Mui-selected:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

.red {
    color: #e85a4f;
}

.green {
    color: #6cc75c;
}

h1.title {
    font-size:18px;
    color: $color-green-6;
}

.app {
    display: flex;
}

/** NAVBAR **/

.navbar {
    background-color: $color-green-4;
    height: 100%;
    align-content: space-between;
    display: flex;
    flex-flow: row wrap;
    width: 48px;    

    .MuiSvgIcon-root {
        width: 40px;
        fill: #fff;
        font-size: 26px;
        padding: 10px 4px;
        cursor: pointer;

        &:hover {
            fill: $color-green-7;
        }
    }

    .nav {
        margin-top: 45px;
    }

    .nav-account {
        margin-bottom: 10px;
    }
}

.nav-account-menu {
    margin-left: 32px;

    .MuiMenu-paper {
        border-radius: 0;
        box-shadow: none;
        background-color: #24caae;
        color: #fff;
    }

    li.MuiListItem-root {
        padding-top: 0;
        padding-bottom: 0;
        & + li.MuiListItem-root {
            margin-top: 6px;
        }
    }
}

.username {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-top: -1px;
    color: $color-green-5;
}


/** BUTTONS **/

button {
    border: none!important;
}

.button {
    padding: 12px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    background-color: $color-green-4;

    &.full {
        width: 100%;
    }

    &:hover {
        cursor: pointer;
        background-color: $color-green-3;
    }

    &.light {
        background-color: $color-green-7;
        color: $color-green-2;
        &:hover {
            background-color: $color-green-8;
        }
    }

    &.dark {
        background-color: $color-green-4;
        color: $color-green;
        &:hover {
            color: $color-green-6;
        }
    }

    &.outlined-light {
        background-color: $color-green;
        border-color: $color-green;
        border: 1px solid $color-green-3!important;
        color: $color-green-5;
        &:hover {
            color: $color-red-light;
            border-color: $color-red-light!important;
        }
    }
}

/** DIALOGS **/

.MuiDialog-container {
    .MuiDialogTitle-root {
        color: $color-red-light;
    }

    .MuiDialog-paper {
        background-color: $color-green;
        box-shadow: none;
        border-radius: 0;
        transition: none;
    }

    .MuiDialogActions-root {
        padding: 24px;
    }
}

.MuiInput-underline:before {
    border-bottom: 2px solid $color-green-3!important;
}

.MuiFormLabel-root.Mui-focused {
    color: $color-green-4!important;
    font-weight: bold!important;
}

.MuiInput-underline:after { 
    border-bottom: 2px solid $color-green-4!important;
}

.MuiDialog-paperWidthSm {
    max-width: 810px!important;
}

/* Snackbar */

.MuiCollapse-root.MuiCollapse-entered {
    margin-bottom: 10px;
}

.MuiCollapse-wrapper {
    .snackbar {
        box-shadow: none;
        font-weight: bold;
        border-radius: 0;
        min-width: 0;
    }

    .snackbar-success {
        background-color: $color-green-4;
    }

    .snackbar-error {
        background-color: $color-red;
    }
}

.MuiDataGrid-columnHeader  .MuiDataGrid-columnHeaderTitle {
    font-size: 12px!important;
}


.content-box {
    background-color: #fff;
    padding: 10px;
}

.center-content-vertically {
    display: flex;
    align-items: center;
    height: 100%;
}