$color-black: #2f404d;
$color-light-gray: #e5eaea;
$color-green: #1b1e1d;
$color-green-2: #0a4042;
$color-green-3: #073435;
$color-green-4: #0e5153;
$color-green-5: #116466;
$color-green-6: #15787b;
$color-green-7: #24caae;
$color-green-8: #D1E8E2;
$color-brown-light: #FFCB9A;
$color-brown-medium: #D9B08C;
$color-red-light: #e98074;
$color-red: #e85a4f;