$color-tan-light: #f1f0eb;
$color-tan-light-2: #e2dfd2;
$color-tan-medium: #adaaa3;
$color-tan-dark: #97958f;
$color-tan-darker: #706e68;
$color-brown-light: #d8c3a5;
$color-brown-medium: #b1a087;
$color-red-light: #e98074;
$color-red: #e85a4f;
$color-black: #353a4d;