@import '../styles/shared.scss';

html {
    background: $color-tan-light;
    color: $color-tan-darker;
}

a {
    color: inherit;
    text-decoration: none!important;
}

input[type="date"] {
    cursor: pointer;
}

body {
    // Remove blue outline when selecting column headers and table cells
    .MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within, .MuiDataGrid-root .MuiDataGrid-cell:focus-within {
        outline: none;
    }

    .MuiCheckbox-colorPrimary.Mui-checked {
        color: $color-tan-medium;
    }

    .MuiDataGrid-root .MuiDataGrid-row.Mui-selected, .MuiDataGrid-root .MuiDataGrid-row.Mui-selected:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

.red {
    color: #e85a4f;
}

.green {
    color: #6cc75c;
}

/** NAVBAR **/

.navbar {
    margin: 20px 0;

    .button {
        margin: 3px 10px 3px 0;
    }
}

.logo {
    font-family: 'Zen Tokyo Zoo', cursive;
    color: $color-tan-medium;
    padding-top: 9px;
    font-size: 24px;
    margin-right: 50px;

    &:hover {
        cursor: pointer;
        color: $color-red;
    }
}

.username {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-top: -1px;
    color: $color-tan-dark;
}

/** BUTTONS **/

button {
    border: none!important;
}

.button {
    padding: 12px;
    font-size: 12px;
    color: $color-tan-light;
    font-weight: bold;
    background-color: $color-tan-darker;

    &:hover {
        cursor: pointer;
        color: $color-tan-light-2;
    }

    &.light {
        background-color: $color-tan-light-2;
        color: $color-tan-dark;
        &:hover {
            color: $color-tan-darker;
        }
    }

    &.dark {
        background-color: $color-tan-medium;
        color: $color-tan-light;
        &:hover {
            color: $color-tan-darker;
        }
    }

    &.outlined-light {
        background-color: #f1f0eb;
        border-color: #f1f0eb;
        border: 1px solid #e2dfd2!important;
        color: $color-tan-dark;
        &:hover {
            color: $color-red-light;
            border-color: $color-red-light!important;
        }
    }
}

/** DIALOGS **/

.MuiDialog-container {
    .MuiDialogTitle-root {
        color: $color-red-light;
    }

    .MuiDialog-paper {
        background-color: $color-tan-light;
        box-shadow: none;
        border-radius: 0;
        transition: none;
    }

    .MuiDialogActions-root {
        padding: 24px;
    }
}

.MuiInput-underline:before {
    border-bottom: 2px solid #e2dfd2!important;
}

.MuiFormLabel-root.Mui-focused {
    color: $color-tan-medium!important;
    font-weight: bold!important;
}

.MuiInput-underline:after { 
    border-bottom: 2px solid $color-tan-medium!important;
}

.trade-import-header {
    height: 48px;
    & > div {
        font-weight: bold;
        height: 48px;
        text-align: center;
        padding: 15px 0;      
        background-color: $color-tan-light-2;
        cursor: pointer;
        color: $color-tan-dark;
    }
    & > div.active {
        background-color: $color-tan-light;
    }
}

.MuiDialog-paperWidthSm {
    max-width: 810px!important;
}

.import-trades-dialog {
    .MuiDialogContent-root{
        padding-left: 0;
        padding-right: 0;
    }
}

.import-trades-json-container {
    width: 810px!important;

    .MuiGrid-item {
        padding: 0 24px;
    }

    textarea {
        background-color: #e2dfd2;
        padding: 10px;
        font-size: 13px;
        font-family: monospace;
    }
}

/* Snackbar */

.MuiCollapse-root.MuiCollapse-entered {
    margin-bottom: 10px;
}


.MuiCollapse-wrapper {
    div [class*="SnackbarItem-contentRoot"]{
        box-shadow: none;
        font-weight: bold;
        border-radius: 0;
        min-width: 0;
    }

    div [class*="SnackbarItem-variantSuccess"]{
        background-color: $color-tan-medium;
    }
}

.trades-table-wrapper {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

.MuiDataGrid-columnHeader  .MuiDataGrid-columnHeaderTitle {
    font-size: 12px!important;
}