@import '../../styles/shared.scss';

.trade-import-header {
    height: 48px;
    & > div {
        font-weight: bold;
        height: 48px;
        text-align: center;
        padding: 15px 0;      
        background-color: $color-green-4;
        cursor: pointer;
        color: #fff;
    }
    & > div.active {
        background-color: #fff;
        color: $color-black;
    }
}

.import-trades-dialog {
    .MuiDialogContent-root{
        padding-left: 0;
        padding-right: 0;
    }
}

.import-trades-json-container {
    width: 810px!important;

    .MuiGrid-item {
        padding: 0 24px;
    }

    textarea {
        background-color: $color-light-gray;
        padding: 10px;
        font-size: 13px;
        font-family: monospace;
    }
}


.table-delete-btn {
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-weight: bold;
    color: $color-green-6;
    cursor: pointer;

    &:hover {
        color: $color-red-light;
    }
}

.trades-table-wrapper {
    height: 700px;
    width: 100%;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 4px;

    .MuiDataGrid-root {
        border: none;

        .MuiDataGrid-columnSeparator {
            display: none;
        }

        .MuiDataGrid-columnHeaderTitleContainer {
            padding: 0;
        }

        .MuiDataGrid-columnsContainer {
            border: none;
        }

        .MuiDataGrid-row {
            .MuiDataGrid-cell {
                border: none;
            }
        }
    }

}