@import '../../styles/shared.scss';

.trade-import-header {
    height: 48px;
    & > div {
        font-weight: bold;
        height: 48px;
        text-align: center;
        padding: 15px 0;      
        background-color: $color-tan-light-2;
        cursor: pointer;
        color: $color-tan-dark;
    }
    & > div.active {
        background-color: $color-tan-light;
    }
}

.import-trades-dialog {
    .MuiDialogContent-root{
        padding-left: 0;
        padding-right: 0;
    }
}

.import-trades-json-container {
    width: 810px!important;

    .MuiGrid-item {
        padding: 0 24px;
    }

    textarea {
        background-color: #e2dfd2;
        padding: 10px;
        font-size: 13px;
        font-family: monospace;
    }
}


.table-delete-btn {
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-weight: bold;
    color: $color-tan-darker;
    cursor: pointer;

    &:hover {
        color: $color-red-light;
    }
}

.trades-table-wrapper {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}